\# filter=lfs diff=lfs merge=lfs -text
跟踪所有.mp4文件 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
跟踪所有.zip文件 filter=lfs diff=lfs merge=lfs -text
